table {
  border: 1px solid black;
  border-collapse: collapse;
  margin: 20px auto;
}

td {
  background: #ccc;
  font-size: 30px;
  height: 50px;
  text-align: center;
  width: 50px;
}

tr:nth-child(even) td:nth-child(odd),
tr:nth-child(odd) td:nth-child(even) {
  background: white;
}

.highlight {
  background: #9C9;
}

tr:nth-child(even) td:nth-child(odd).highlight,
tr:nth-child(odd) td:nth-child(even).highlight {
  background: #CFC;
}
